body{
                font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            }
            			
            .header{
                display: flex;
                background-color: white;
                margin-top: 0px;
                height: 150px;
            }
            #logo{
                margin-left: 150px;
                margin-top: 50px;
				height: 80px;
				
            }
            .navbar{
                border: 2px white solid;
                height: 60px;
                width: 100%;
                background-color: maroon;

			
            }
            .navbar-link-holder{
                margin-top: 19px;
                text-align: center;
			display: inline-block;
			position:relative;
            
            }
            .navbar-link-holder a{
                text-decoration: none;
                padding: 20px;
                color: white;
				position:relative;
            }
            .navbar-link-holder a:hover{
                background-color: #ed1c24;
				position:relative;
            }


#logo-holder { 
width: 64px; 
}

.container {

}

.content {
  background: maroon;
  margin: 20px 220px 20px 20px;
  padding: 20px;
  min-height: 480px;
}

.banner {
  background: #76C7C6;
  padding: 20px;
  height: 200px;
  width: 180px;
  position: absolute;
}
.banner.top  {
  top: 0;
  right: 20px;
}
.banner.bottom {
  top: 220px;
  right: 20px;
}
 
  .content {
    margin-left: 200px;
    margin-right: 200px;
  }  
  
  .banner {
    height: 300px;
    width: 180px;
  }
  .banner.top  {
    top: 0;
    left: 0;
  }
  .banner.bottom {
    top: 0;
    right: 0;
  }
}


			* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

		

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;

  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {

  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}		


.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    background: skyblue;
    margin-top: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


.container ul li{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background: red;
    margin :20px 0px 20px 55px; 
    border:2px solid blue;
    box-sizing: border-box;
}
.container ul li:hover{
    opacity: 0.8;
}

.container ul li .bottom{
    width: 100%;
    height:50px;
    line-height: 50px;
    background: white-space;    
    text-align: center;
    color:white;
    font-size: 20px;
   
}


	
 
  .content {
    margin-left: 200px;
    margin-right: 200px;
  }  
  
  .banner {
    height: 300px;
    width: 180px;
  }
  .banner.top  {
    top: 0;
    left: 0;
  }
  .banner.bottom {
    top: 0;
    right: 0;
  }
}
 
  .banner{
    margin: 20px;
    width: auto;
    height: auto;
    
    position: static;
    top: auto;
    right: auto;
    left: auto;
  }
}


h2{color:#3696dc;text-transform:uppercase;text-align:center;letter-spacing:2px;}

	p{font-size:16px;line-height:24px}
	
	ul li{list-style:none}
	
	.container{width:100%;margin:0 auto;display:flex;list-style:none}
	
	.columns{margin:0 15px 25px;box-shadow:0 1px 3px rgb(0,0,0,12),0 1px 3px rgb(0,0,0,24);
	background:#fff;border-radius:10px;flex-basis:33%}
	
	.card{padding:15px 25px}
	img{max-width:100%}
	
	footer {
  text-align: center;
  padding: 10px;
  background-color:Maroon;
  color: white;
 
.first {
	height: 100px;
	  
}

}	